* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  padding: 0;
  margin: 0;
}

button {
  width: 137px;
  height: 52px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.2px;
  line-height: 0;
  background-color: #8d5cf6;
}

.box-text {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.box-text .line {
  width: 97px;
  height: 4px;
  background-color: #ff7b52;
}
.box-text .text-heading {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.2px;
  line-height: 50px;
}
.box-text .text-small {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.2px;
  line-height: 20px;
}
.box-text .box-learn-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.box-text .box-learn-more .icon {
  color: #8d5cf6;
  font-size: 22px;
}

.text-learn-more {
  font-size: 14px;
  font-weight: 700;
  color: #8d5cf6;
  letter-spacing: 0.2px;
  line-height: 24px;
}

.gap-35 {
  gap: 35px;
}

.gap-10 {
  gap: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mt-40 {
  margin-top: 40px;
}

.ml-240 {
  margin-left: 240px;
}

.mr-50 {
  margin-right: 50px;
}

.mr-85 {
  margin-right: 85px;
}

.mr-60 {
  margin-right: 60px;
}

.header {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.header .hero-box-text {
  text-align: left;
  position: absolute;
  right: 0;
  width: 1245px;
}
.header .hero-box-text .hero-top-text {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.1px;
  line-height: 24px;
}
.header .hero-box-text .hero-heading {
  font-size: 58px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.2px;
  line-height: 80px;
}
.header .hero-box-text .hero-bottom-text {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.2px;
  line-height: 30px;
}
.header .nav {
  max-width: 1440px;
  width: 100%;
  height: 91px;
  line-height: 91px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}
.header .nav .nav-logo {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.1px;
  line-height: 32px;
}
.header .nav .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 21px;
}
.header .nav .nav-menu .nav-item {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.2px;
  line-height: 24px;
}

.achievements {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #26335d;
  height: 264px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 85px;
}
.achievements .text-number {
  font-size: 58px;
  font-weight: 700;
  color: #8d5cf6;
  letter-spacing: 0.2px;
  line-height: 80px;
  text-align: center;
}
.achievements .text-small {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.1px;
  line-height: 24px;
  text-align: center;
}

.client {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #26335d;
  height: 849px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 45px;
}
.client .container-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.client .container-cards .card {
  width: 222px;
  height: 288px;
  background-color: #fff;
  text-align: left;
  padding: 28px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.client .container-cards .card .circle {
  background-color: #ff7b52;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  aspect-ratio: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.client .container-cards .card .circle .circle-box {
  width: 32px;
  height: 32px;
}
.client .container-cards .card .card-heading {
  font-size: 16px;
  font-weight: 700;
  color: #111;
  letter-spacing: 0.1px;
  line-height: 24px;
}
.client .container-cards .card .card-line {
  width: 50px;
  height: 2px;
  background-color: #ff7b52;
}
.client .container-cards .card .card-text {
  font-size: 14;
  font-weight: 400;
  color: #737373;
  letter-spacing: 0.2px;
  line-height: 20px;
  border: 1px solid red;
}

.courses {
  max-width: 1440px;
  margin: 0 auto;
  height: 600px;
  background-color: #26335d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 80px;
}
.courses .boxs-image {
  width: 556px;
  height: 471.61px;
  position: relative;
}
.courses .box-img-small {
  width: 35px;
  height: 35px;
}
.courses .box-img-small-check {
  position: absolute;
  top: 50%;
  left: 68px;
}
.courses .box-img-small-smile {
  position: absolute;
  top: 150px;
  right: 95px;
}
.courses .box-img-square {
  width: 132px;
  height: 132px;
  position: absolute;
  top: 42%;
  right: 120px;
}
.courses .box-img {
  width: 233px;
  height: 159px;
  position: absolute;
  bottom: -30px;
  left: 0;
}
.courses .box-blank {
  width: 445px;
  height: 200px;
  border: 1px solid red;
}

.cards {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #26335d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border: 1px solid red;
}
.cards .card {
  width: 348px;
  height: 622px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.cards .card .card-box-image {
  width: 100%;
  height: 50%;
  position: relative;
}
.cards .card .card-box-image .box-image {
  width: 100%;
  height: 100%;
  position: absolute;
}
.cards .card .card-box-image .card-box-sale {
  width: 52px;
  height: 24px;
  border-radius: 3px;
  background-color: #e74040;
  position: absolute;
  top: 20px;
  left: 12px;
  text-align: center;
}
.cards .card .card-box-image .card-box-sale .card-sale-text {
  font-size: 14;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.2px;
  line-height: 24px;
}
.cards .card .card-box-image .card-box-icons {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.cards .card .card-box-image .card-box-icons .box-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cards .card .card-box-text {
  width: 100%;
  height: 50%;
  padding: 0 25px 0px 25px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.cards .card .card-box-text .card-box-top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cards .card .card-box-text .card-box-top .box-star {
  background-color: #26335d;
  border: none;
  padding: 5px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}
.cards .card .card-box-text .card-box-top .box-star .text-star {
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.2px;
  line-height: 16px;
}
.cards .card .card-box-text .card-box-top .box-star .star-icon {
  font-size: 16px;
  color: #ffce31;
}
.cards .card .card-box-text .card-heading {
  font-size: 16px;
  font-weight: 700;
  color: #111;
  letter-spacing: 0.1px;
  line-height: 24px;
}
.cards .card .card-box-text .card-text-below {
  font-size: 14px;
  font-weight: 700;
  color: #737373;
  letter-spacing: 0.2px;
  line-height: 20px;
}
.cards .card .card-box-text .card-box-download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: #737373;
}
.cards .card .card-box-text .card-box-download .card-dowload-text {
  font-size: 14px;
  font-weight: 700;
  color: #737373;
  letter-spacing: 0.2px;
  line-height: 24px;
}
.cards .card .card-box-text .card-text-price {
  font-size: 16px;
  font-weight: 700;
  color: #bdbdbd;
  letter-spacing: 0.1px;
  line-height: 24px;
}
.cards .card .card-box-text .card-text-price .card-text-price-color {
  font-size: 16px;
  font-weight: 700;
  color: #8d5cf6;
  letter-spacing: 0.1px;
  line-height: 24px;
}
.cards .card .card-box-text .card-button {
  background-color: transparent;
  color: #8d5cf6;
  border: 1px solid #8d5cf6;
  border-radius: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}/*# sourceMappingURL=style.css.map */