* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  width: 137px;
  height: 52px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.2px;
  line-height: 0;
  background-color: #8d5cf6;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.ml-240 {
  margin-left: 240px;
}

.mr-85 {
  margin-right: 85px;
}

.mr-60 {
  margin-right: 60px;
}

.header {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.header .hero-box-text {
  text-align: left;
  position: absolute;
  right: 0;
  width: 1245px;
}
.header .hero-box-text .hero-top-text {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.1px;
  line-height: 24px;
}
.header .hero-box-text .hero-heading {
  font-size: 58px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.2px;
  line-height: 80px;
}
.header .hero-box-text .hero-bottom-text {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.2px;
  line-height: 30px;
}
.header .nav {
  max-width: 1440px;
  width: 100%;
  height: 91px;
  line-height: 91px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}
.header .nav .nav-logo {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.1px;
  line-height: 32px;
}
.header .nav .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 21px;
}
.header .nav .nav-menu .nav-item {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.2px;
  line-height: 24px;
}

.achievements {
  background-color: #26335d;
  height: 264px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 85px;
}
.achievements .text-number {
  font-size: 58px;
  font-weight: 700;
  color: #8d5cf6;
  letter-spacing: 0.2px;
  line-height: 80px;
  text-align: center;
}
.achievements .text-small {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.1px;
  line-height: 24px;
  text-align: center;
}/*# sourceMappingURL=style.css.map */