* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  width: 137px;
  height: 52px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.2px;
  line-height: 0;
  background-color: #8d5cf6;
}

.box-text {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 1200px) {
  .box-text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 992px) {
  .box-text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 768px) {
  .box-text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 576px) {
  .box-text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.box-text .line {
  width: 97px;
  height: 4px;
  background-color: #ff7b52;
}
.box-text .box-learn-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.box-text .box-learn-more .icon {
  color: #8d5cf6;
  font-size: 22px;
}

.text-small {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.2px;
  line-height: 20px;
}
@media (max-width: 1200px) {
  .text-small {
    text-align: center;
  }
}
@media (max-width: 992px) {
  .text-small {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .text-small {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .text-small {
    text-align: center;
  }
}

.text-heading {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.2px;
  line-height: 50px;
}
@media (max-width: 1200px) {
  .text-heading {
    text-align: center;
  }
}
@media (max-width: 992px) {
  .text-heading {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .text-heading {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .text-heading {
    text-align: center;
  }
}

.text-learn-more {
  font-size: 14px;
  font-weight: 700;
  color: #8d5cf6;
  letter-spacing: 0.2px;
  line-height: 24px;
}

.box-input .input {
  padding: 16px 96px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}
.box-input .button-input {
  border-radius: 0 5px 5px 0;
}

.card-person-box-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.card-person-box-icons .card-peron-icon {
  font-size: 24px;
  color: #8d5cf6;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-40 {
  margin-top: 40px;
}

.mr-85 {
  margin-right: 85px;
}

.mr-60 {
  margin-right: 60px;
}

.header {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: -1;
}
.header .nav {
  position: absolute;
  top: 0;
  width: 100%;
  height: 91px;
  line-height: 91px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 768px) {
  .header .nav {
    display: none;
  }
}
@media (max-width: 576px) {
  .header .nav {
    display: none;
  }
}
.header .nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 21px;
}
.header .nav .nav-list .nav-item {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.2px;
  line-height: 24px;
}
.header .nav .nav-box-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}
.header .nav .nav-box-login .nav-login {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.2px;
  line-height: 24px;
}
.header .nav .nav-logo {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.1px;
  line-height: 32px;
}
.header .nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  padding: 16px;
  margin: 0 auto;
  text-align: center;
  z-index: 200;
}
@media (max-width: 768px) {
  .header .nav-mobile {
    display: block;
  }
}
@media (max-width: 576px) {
  .header .nav-mobile {
    display: block;
  }
}
.header .nav-mobile .nav-list .nav-item {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.2px;
  line-height: 24px;
}
.header .nav-mobile .nav-logo {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.1px;
  line-height: 32px;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .header .nav-mobile .nav-logo {
    margin-bottom: 6px;
  }
}
@media (max-width: 576px) {
  .header .nav-mobile .nav-logo {
    margin-bottom: 6px;
  }
}
.header .nav-mobile .nav-login {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.2px;
  line-height: 24px;
  margin-bottom: 30px;
}
.header .box-hero-text {
  position: absolute;
  top: 40%;
  left: 30%;
  -webkit-transform: translate(-30%, -40%);
          transform: translate(-30%, -40%);
  padding: 20px;
  text-align: left;
  z-index: 0;
}
@media (max-width: 768px) {
  .header .box-hero-text {
    display: none;
  }
}
@media (max-width: 576px) {
  .header .box-hero-text {
    display: none;
  }
}

.footer {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #26335d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 35px;
}
.footer .footer-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
}
@media (max-width: 768px) {
  .footer .footer-boxes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}
@media (max-width: 576px) {
  .footer .footer-boxes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}
.footer .footer-boxes .footer-box {
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.footer .footer-boxes .footer-box .footer-text-heading {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.1px;
  line-height: 24px;
}
.footer .footer-boxes .footer-box .footer-text {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.2px;
  line-height: 24px;
}
.footer .footer-box-below {
  max-width: 1440px;
  margin: 0 auto;
  height: 74px;
  line-height: 74px;
  background-color: #fff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .footer-box-below .footer-box-below-text {
  font-size: 14px;
  font-weight: 700;
  color: #737373;
  letter-spacing: 0.2px;
  line-height: 24px;
}

.achievements {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #26335d;
  height: 264px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 85px;
}
@media (max-width: 768px) {
  .achievements {
    height: 664px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
}
@media (max-width: 576px) {
  .achievements {
    height: 664px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
}
.achievements .text-number {
  font-size: 58px;
  font-weight: 700;
  color: #8d5cf6;
  letter-spacing: 0.2px;
  line-height: 80px;
  text-align: center;
}
.achievements .text-small {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.1px;
  line-height: 24px;
  text-align: center;
}

.client {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #26335d;
  height: 849px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 45px;
}
@media (max-width: 768px) {
  .client {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    height: 1350px;
  }
}
@media (max-width: 576px) {
  .client {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    height: 1450px;
  }
}
.client .container-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.client .container-cards .card {
  width: 222px;
  height: 288px;
  background-color: #fff;
  text-align: left;
  padding: 28px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.client .container-cards .card .circle {
  background-color: #ff7b52;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  aspect-ratio: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.client .container-cards .card .circle .circle-box {
  width: 32px;
  height: 32px;
}
.client .container-cards .card .card-heading {
  font-size: 16px;
  font-weight: 700;
  color: #111;
  letter-spacing: 0.1px;
  line-height: 24px;
}
.client .container-cards .card .card-line {
  width: 50px;
  height: 2px;
  background-color: #ff7b52;
}
.client .container-cards .card .card-text {
  font-size: 14;
  font-weight: 400;
  color: #737373;
  letter-spacing: 0.2px;
  line-height: 20px;
}

.courses {
  max-width: 1440px;
  margin: 0 auto;
  height: 600px;
  background-color: #26335d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 80px;
}
@media (max-width: 1200px) {
  .courses {
    font-size: 10px;
    height: 600px;
  }
}
@media (max-width: 992px) {
  .courses {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 800px;
  }
}
@media (max-width: 768px) {
  .courses {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 800px;
  }
}
@media (max-width: 576px) {
  .courses {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 800px;
  }
}
.courses .boxs-image {
  width: 556px;
  height: 471.61px;
  position: relative;
}
@media (max-width: 1200px) {
  .courses .boxs-image {
    width: 500px;
  }
}
@media (max-width: 992px) {
  .courses .boxs-image {
    width: 450px;
  }
}
@media (max-width: 768px) {
  .courses .boxs-image {
    margin-top: 50px;
    width: 350px;
  }
}
@media (max-width: 576px) {
  .courses .boxs-image {
    width: 350px;
  }
}
.courses .box-img-small {
  width: 35px;
  height: 35px;
}
@media (max-width: 1200px) {
  .courses .box-img-small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 992px) {
  .courses .box-img-small {
    display: none;
  }
}
@media (max-width: 768px) {
  .courses .box-img-small {
    display: none;
  }
}
@media (max-width: 576px) {
  .courses .box-img-small {
    display: none;
  }
}
.courses .box-img-small-check {
  position: absolute;
  top: 50%;
  left: 68px;
}
.courses .box-img-small-smile {
  position: absolute;
  top: 150px;
  right: 95px;
}
.courses .box-img-square {
  width: 132px;
  height: 132px;
  position: absolute;
  top: 42%;
  right: 120px;
}
@media (max-width: 1200px) {
  .courses .box-img-square {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 992px) {
  .courses .box-img-square {
    display: none;
  }
}
@media (max-width: 768px) {
  .courses .box-img-square {
    display: none;
  }
}
@media (max-width: 576px) {
  .courses .box-img-square {
    display: none;
  }
}
.courses .box-img {
  width: 233px;
  height: 159px;
  position: absolute;
  bottom: -30px;
  left: 0;
}
@media (max-width: 1200px) {
  .courses .box-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 992px) {
  .courses .box-img {
    display: none;
  }
}
@media (max-width: 768px) {
  .courses .box-img {
    display: none;
  }
}
@media (max-width: 576px) {
  .courses .box-img {
    display: none;
  }
}
.courses .box-blank {
  width: 445px;
  height: 200px;
}
@media (max-width: 1200px) {
  .courses .box-blank {
    font-size: 10px;
  }
}
@media (max-width: 992px) {
  .courses .box-blank {
    display: none;
  }
}
@media (max-width: 768px) {
  .courses .box-blank {
    display: none;
  }
}
@media (max-width: 576px) {
  .courses .box-blank {
    display: none;
  }
}

.cards {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #26335d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
@media (max-width: 768px) {
  .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 576px) {
  .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.cards .card {
  width: 348px;
  height: 622px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.cards .card .card-box-image {
  width: 100%;
  height: 50%;
  position: relative;
}
.cards .card .card-box-image .box-image {
  width: 100%;
  height: 100%;
  position: absolute;
}
.cards .card .card-box-image .card-box-sale {
  width: 52px;
  height: 24px;
  border-radius: 3px;
  background-color: #e74040;
  position: absolute;
  top: 20px;
  left: 12px;
  text-align: center;
}
.cards .card .card-box-image .card-box-sale .card-sale-text {
  font-size: 14;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.2px;
  line-height: 24px;
}
.cards .card .card-box-image .card-box-icons {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.cards .card .card-box-image .card-box-icons .box-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cards .card .card-box-text {
  width: 100%;
  height: 50%;
  padding: 0 25px 0px 25px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.cards .card .card-box-text .card-box-top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cards .card .card-box-text .card-box-top .box-star {
  background-color: #26335d;
  border: none;
  padding: 5px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}
.cards .card .card-box-text .card-box-top .box-star .text-star {
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.2px;
  line-height: 16px;
}
.cards .card .card-box-text .card-box-top .box-star .star-icon {
  font-size: 16px;
  color: #ffce31;
}
.cards .card .card-box-text .card-heading {
  font-size: 16px;
  font-weight: 700;
  color: #111;
  letter-spacing: 0.1px;
  line-height: 24px;
}
.cards .card .card-box-text .card-text-below {
  font-size: 14px;
  font-weight: 700;
  color: #737373;
  letter-spacing: 0.2px;
  line-height: 20px;
}
.cards .card .card-box-text .card-box-download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: #737373;
}
.cards .card .card-box-text .card-box-download .card-dowload-text {
  font-size: 14px;
  font-weight: 700;
  color: #737373;
  letter-spacing: 0.2px;
  line-height: 24px;
}
.cards .card .card-box-text .card-text-price {
  font-size: 16px;
  font-weight: 700;
  color: #bdbdbd;
  letter-spacing: 0.1px;
  line-height: 24px;
}
.cards .card .card-box-text .card-text-price .card-text-price-color {
  font-size: 16px;
  font-weight: 700;
  color: #8d5cf6;
  letter-spacing: 0.1px;
  line-height: 24px;
}
.cards .card .card-box-text .card-button {
  background-color: transparent;
  color: #8d5cf6;
  border: 1px solid #8d5cf6;
  border-radius: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
.cards .card-opinion {
  width: 335px;
  height: 318px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.cards .card-opinion .card-box-star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.cards .card-opinion .card-box-star .card-star {
  color: #ffce31;
  font-size: 20px;
}
.cards .card-opinion .card-text {
  text-align: center;
}
.cards .card-opinion .card-box-signature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.cards .card-opinion .card-box-signature .card-box-signature-image {
  width: 50px;
  height: 50px;
}
.cards .card-opinion .card-box-signature .card-signature {
  font-size: 14px;
  font-weight: 700;
  color: #8d5cf6;
  letter-spacing: 0.2px;
  line-height: 24px;
}
.cards .card-opinion .card-box-signature .card-signature .card-signature-black {
  color: #111;
}
.cards .card-person {
  width: 238px;
  height: 375px;
  background-color: #fff;
  border-radius: 20px;
}
.cards .card-person .card-person-box-image {
  width: 100%;
  height: 60%;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
}
.cards .card-person .card-person-box-text {
  height: 40%;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.cards .card-person .card-person-box-text .card-heading {
  font-size: 16px;
  font-weight: 700;
  color: #111;
  letter-spacing: 0.1px;
  line-height: 24px;
}
.cards .card-person .card-person-box-text .card-text-small {
  font-size: 12px;
  font-weight: 500;
  color: #737373;
  letter-spacing: 0.2px;
  line-height: 16px;
}/*# sourceMappingURL=style.css.map */