.achievements {
	max-width: $max-width;
	margin: 0 auto;
	background-color: $dark-background-color;
	height: 264px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 85px;

	.text-number {
		@include text(58px, 700, $primary-color, 0.2px, 80px);
		text-align: center;
	}

	.text-small {
		@include text(16px, 700, $white-color, 0.1px, 24px);
		text-align: center;
	}
}
