.courses {
	max-width: $max-width;
	margin: 0 auto;
	height: 600px;
	background-color: $dark-background-color;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 80px;

	@include mq(lg) {
		font-size: 10px;
		height: 600px;
	}

	@include mq(md) {
		flex-direction: column;
		height: 800px;
	}

	@include mq(sm) {
		flex-direction: column;
		height: 800px;

	}

	@include mq(xs) {
		flex-direction: column;
		height: 800px;
	}

	.boxs-image {
		width: 556px;
		height: 471.61px;
		position: relative;

		@include mq(lg) {
			width: 500px;
		}

		@include mq(md) {
			width: 450px;
		}

		@include mq(sm) {
			margin-top: 50px;
			width: 350px;
		}

		@include mq(xs) {
			width: 350px;
		}
	}

	.box-img-small {
		width: 35px;
		height: 35px;
		@include mq(lg) {
			display: flex;
		}

		@include mq(md) {
			display: none;
		}

		@include mq(sm) {
			display: none;
		}

		@include mq(xs) {
			display: none;
		}
	}

	.box-img-small-check {
		position: absolute;
		top: 50%;
		left: 68px;
	}
	.box-img-small-smile {
		position: absolute;
		top: 150px;
		right: 95px;
	}

	.box-img-square {
		width: 132px;
		height: 132px;
		position: absolute;
		top: 42%;
		right: 120px;

		@include mq(lg) {
			display: flex;
		}

		@include mq(md) {
			display: none;
		}

		@include mq(sm) {
			display: none;
		}

		@include mq(xs) {
			display: none;
		}
	}

	.box-img {
		width: 233px;
		height: 159px;
		position: absolute;
		bottom: -30px;
		left: 0;

		@include mq(lg) {
			display: flex;
		}

		@include mq(md) {
			display: none;
		}

		@include mq(sm) {
			display: none;
		}

		@include mq(xs) {
			display: none;
		}
	}

	.box-blank {
		width: 445px;
		height: 200px;
		border: 1px solid red;

		@include mq(lg) {
			font-size: 10px;
		}

		@include mq(md) {
			display: none;
		}

		@include mq(sm) {
			display: none;
		}

		@include mq(xs) {
			display: none;
		}
	}
}
