.mb-10 {
	margin-bottom: 10px;
}

.mb-20 {
	margin-bottom: 30px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mb-40 {
	margin-bottom: 40px;
}

.mb-50 {
	margin-bottom: 50px;
}

.ml-200 {
	margin-left: 200px;
}

.mr-30 {
	margin-right: 30px;
}
