.mb-10 {
	margin-bottom: 10px;
}

.mb-20 {
	margin-bottom: 30px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mb-40 {
	margin-bottom: 40px;
}

.mb-50 {
	margin-bottom: 50px;
}

.mt-20 {
	margin-top: 20px;
}

.mt-40 {
	margin-top: 40px;
}

.mr-85 {
	margin-right: 85px;
}

.mr-60 {
	margin-right: 60px;
}
