img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

li {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

section {
	padding: 0;
	margin: 0;
}

button {
	width: 137px;
	height: 52px;
	border: none;
	border-radius: 5px;
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	letter-spacing: 0.2px;
	line-height: 0;
	background-color: #8d5cf6;
}

footer {
	max-width: 1440px;
	margin: 0 auto;
	background-color: #26335d;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 35px;
}
