.box-text {
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;

	.line {
		width: 97px;
		height: 4px;
		background-color: $secondary-color-1;
	}

	.box-learn-more {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		.icon {
			color: $primary-color;
			font-size: 22px;
		}
	}
}

.text-small {
	@include text(14px, 500, $white-color, 0.2px, 20px);
}

.text-heading {
	@include text(40px, 700, $white-color, 0.2px, 50px);
}
.text-learn-more {
	@include text(14px, 700, $primary-color, 0.2px, 24px);
}

.gap-35 {
	gap: 35px;
}

.gap-10 {
	gap: 10px;
}

.text-center {
	text-align: center;
}

.column {
	flex-direction: column;
}

.box-input {
	.input {
		width: 551px;
		height: 53px;
		padding: 20px;
		font-size: 14px;
		font-weight: 500;
	}

	.button-input {
		border-radius: 0 5px 5px 0;
	}
}
