.box-text {
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;

	@include mq(lg) {
		align-items: center;
	}

	@include mq(md) {
		align-items: center;
	}

	@include mq(sm) {
		align-items: center;
	}

	@include mq(xs) {
		align-items: center;
	}

	.line {
		width: 97px;
		height: 4px;
		background-color: $secondary-color-1;
	}

	.box-learn-more {
		display: flex;
		justify-content: flex-start;
		align-items: center;

		.icon {
			color: $primary-color;
			font-size: 22px;
		}
	}
}

.text-small {
	@include text(14px, 500, $white-color, 0.2px, 20px);
	@include mq(lg) {
		text-align: center;
	}

	@include mq(md) {
		text-align: center;
	}

	@include mq(sm) {
		text-align: center;
	}

	@include mq(xs) {
		text-align: center;
	}
}

.text-heading {
	@include text(40px, 700, $white-color, 0.2px, 50px);

	@include mq(lg) {
		text-align: center;
	}

	@include mq(md) {
		text-align: center;
	}

	@include mq(sm) {
		text-align: center;
	}

	@include mq(xs) {
		text-align: center;
	}
}
.text-learn-more {
	@include text(14px, 700, $primary-color, 0.2px, 24px);
}

.box-input {
	.input {
		padding: 16px 96px;
		font-size: 14px;
		font-weight: 500;
		text-align: center;
	}

	.button-input {
		border-radius: 0 5px 5px 0;
	}
}

.card-person-box-icons {
	display: flex;
	gap: 20px;

	.card-peron-icon {
		font-size: 24px;
		color: $primary-color;
	}
}
