$max-width: 1440px;

$white-color: #fff;

$primary-color: #8d5cf6;

$dark-background-color: #26335d;

$secondary-color-1: #ff7b52;

$black-color: #111;

$second-text-color: #737373;

$danger-color: #e74040;

$warming-color: #ffce31;

$muted-color: #bdbdbd;

$breakpoints: (
	xs: 576px,
	sm: 768px,
	md: 992px,
	lg: 1200px,
);
